.ajudarContainer h1,
.ajudarContainer h2{
    max-width: 45%;
}

.ajudarContainer p{
    max-width: 60%;
    text-align: center;
}

.sobre {
    background: #eaedf2 url('/images/aboutusbg.jpg') top right;
    min-height: 895px;
    padding-top: 215px;
    margin: auto 0;
}


.nossosNumeros {
    background: #eaedf2 url('/images/numbersbg.jpg') top left;
    min-height: 895px;
    padding-top: 215px;
}

.clientsContainer,
.parceirosContainer {
    padding-bottom: 142px;
}

.clientsContainer h3{
    font-family: 'Lato', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 900;
    line-height: 1.3;
    margin-bottom: 12px;
    margin-top: 12px;
    text-rendering: optimizelegibility;
    color: #808080;
    font-size: 34px;
}

.clientsContainer h3 span {
    color: #3190E7;
}

.parceirosContainer {
    
}